In [1]:
import pandas as pd

from pathlib import Path

In [2]:
DATA_PATH = Path('../data')

In [3]:
with (DATA_PATH / 'descriptions.txt').open(mode='r') as f:
    text = f.read()

In [4]:
len(text.split('===========================\n'))

192622

In [5]:
names = []
descriptions = []
for definition in text.split('===========================\n'):
    business_name, _, business_description = definition.partition('\n')
    names.append(business_name)
    descriptions.append(business_description.strip())

In [6]:
df = pd.DataFrame({
    'name': names,
    'description': descriptions
})
print(df.shape)
df.head()

(192622, 2)

,name,description
0,ibm,International Business Machines Corporation (I...
1,tata consultancy services,Tata Consultancy Services (TCS) is an Indian m...
2,accenture,The accentors are a genus of birds in the fami...
3,us army,
4,ey,

In [7]:
df = df.loc[df.description.str.len() > 0]
print(df.shape)

(125995, 2)

In [8]:
df.to_pickle(DATA_PATH / 'dataset.pkl')